@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Mukta:wght@600&family=Varela&family=Yantramanav&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Yantramanav", sans-serif;
}
